@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background:#fbfbfb;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { width:300px; float:left; padding:0 0 0 20px;}

h2 { font:bold 24px Arial, Helvetica, sans-serif; padding:8px 0; margin:8px 0; color:#323a3f;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
p.spec { text-align:right;}
.black-herf {color:#000000; text-decoration:none;} /* 使特殊非链接颜色一致 */
 a{
            text-decoration: none;
        }
        /*默认状态*/
         a:link{
          color: #000000;
           text-decoration:none;
          
        }
        /*访问后得状态*/
         a:visited{
             color: #000000;
             text-decoration:none;
            
        }
        /*鼠标悬浮状态*/
         a:hover{
              color: #5489ce;
               text-decoration:none;
        }
        /*点击状态*/
         a:active{
                    
        }

h1 { margin:0; padding:20px 0; color:#e1e9df; font:bold 40px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-2px;}
.header  h1 a, h1 a:link{ color:#7b7a7a; text-decoration:none;}
.menu_header h1 small { display:block; padding:0; font:normal 13px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}
.fbg_resize { margin:0 auto; padding:0 40px; width:890px;}

/* header */
.header { background:url(../images/main_bg.jpg);}
.maincont { background:url(../images/main_bg.jpg);}

.header_resize { margin:0 auto; padding:0; width:970px;}

/* hbg */
.hbg { width:970px; padding:20px 0;}

/* menu */
.menu_header { background:url(../images/menu_bg.gif); height:45px;}
.menu_nav { margin:0 auto; padding:0 0 0 20px; width:950px; height:45px;}
.menu_nav ul { list-style:none; height:45px;}
.menu_nav ul li { margin:0; padding:0 5px 0 0; float:left; background:#e8e5e5; no-repeat right center;}
.menu_nav ul li a { display:block; margin:0; padding:15px 20px 15px; color:#7b7a7a; text-decoration:none; font-size:16px; line-height:15px;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#f8f8f8; background:url(../images/main_bg.jpg) repeat-x center;}



.search { float:right; width:320px; padding:30px 0;}
.search span { width:290px; display:block; background:#FFF; height:32px; margin:0; padding:0; border:1px solid #747978;}
.search input#s { float:left; width:250px; padding:7px 0 7px 10px; margin:0; border:0; background:none; color:#747978; font:normal 12px/15px Arial, Helvetica, sans-serif; }
.search .btn { float:left; padding:0; margin:0; border:0; width:auto; }


.maincont{width: 100%; height: 1300px;}
.maincont_top{width: 100%; height:30px;}
.maincont_top_1{width: 100%; height:60px;background:#e8e8ea;width: 98%;margin-left: 1%; }
.fa-reply{
	font-size:30px;
	margin-left:10px;
	margin-top:20px;
}
.fa-plus{
	font-size:30px;
	margin-left:1200px;
	margin-top:20px;

}
.fa-paint-brush{
	font-size:30px;
	margin-left:120px;
	margin-top:20px;

}
.fa-trash{
	font-size:30px;
	margin-left:40px;
	margin-top:20px;

}
.maincont_top_1 a{
            text-decoration: none;
        }
        /*默认状态*/
 .maincont_top_1        a:link{
            color: green;
        }
        /*访问后得状态*/
.maincont_top_1         a:visited{
           color: green;
        }
        /*鼠标悬浮状态*/
  .maincont_top_1       a:hover{
            color: #5489ce;
        }
        /*点击状态*/
 .maincont_top_1        a:active{
            color:#ffffff;
        }
.maincont_middle{background:whitesmoke; width: 98%; height: 1080px;margin-left: 1%; }

.listcontant{font-size: 20px;  height: 1080px;padding-top:10px ;padding-left: 40px;
 	 	background:url(../images/timg.jpg) no-repeat;}
.listcontant .row{
	height: 90px;
	color: black;
	border-left: solid 3px #7b7a7a ;
	border-right: solid 3px #7b7a7a ;
	border-top: solid 3px #7b7a7a ;
	margin-right: 20px;
}
.listcontant .row .col-md-6 {
height: 90px;
	}
	.listcontant .row .col-lg-4 {
padding-top:30px;
	}
.listcontant .row .col-md-6 .title{
	margin-top: 8px;
	margin-bottom: 0px;
	color: brown;
	
}
.maincont_bottom{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left:100px;margin-top: 30px;
	
	
	
}


input[type="text"], input[type="password"] {
    width: 93.4%;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.41);
    outline: none;
    color: #FFF;
}

.send-button {
    margin-bottom: 10px;
}

.send-button input[type="submit"] , button {
    width: 40%;
    margin-top:10px;
    margin-left: 10%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
    background-color: transparent;
    color: #CCC;
    border: 1px solid rgba(238, 238, 238, 0.41);
    border-width: thin;
    cursor: pointer;
    outline: none;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}

/*--w3layouts--*/
/*--agileits--*/
.send-button input[type="submit"]:hover , button:hover {
    background-color: #000;
    border: 1px solid #FFF;
    color: #FFF;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}
.notlogin{
	width: 40%;
	height:400px;
	font-size:30px;
	 text-align: center; 
	 
	color:white;
	padding-top: 80px;
	margin: 20px auto;
	
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 background-color: rgba(10, 10, 10, 0.4);
    border: 2px ridge rgba(238, 238, 238, 0.13);
    border-radius: 5px;
    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    -webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
 
	
}