<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>VoteSystem_20164206181</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hdq.serlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidataServlet</display-name>
    <servlet-name>ValidataServlet</servlet-name>
    <servlet-class>com.hdq.serlet.ValidataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidataServlet</servlet-name>
    <url-pattern>/ValidataServlet</url-pattern>
    <url-pattern>/validata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.hdq.serlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.hdq.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectListServlet</display-name>
    <servlet-name>SubjectListServlet</servlet-name>
    <servlet-class>com.hdq.serlet.SubjectListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectListServlet</servlet-name>
    <url-pattern>/SubjectListServlet</url-pattern>
    <url-pattern>/sbjlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAddServlet</display-name>
    <servlet-name>SubjectAddServlet</servlet-name>
    <servlet-class>com.hdq.serlet.SubjectAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAddServlet</servlet-name>
    <url-pattern>/SubjectAddServlet</url-pattern>
    <url-pattern>/subjectadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionListServlet</display-name>
    <servlet-name>OptionListServlet</servlet-name>
    <servlet-class>com.hdq.serlet.OptionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionListServlet</servlet-name>
    <url-pattern>/OptionListServlet</url-pattern>
    <url-pattern>/optionlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteObjectServlet</display-name>
    <servlet-name>DeleteObjectServlet</servlet-name>
    <servlet-class>com.hdq.serlet.DeleteObjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteObjectServlet</servlet-name>
    <url-pattern>/DeleteObjectServlet</url-pattern>
    <url-pattern>/deleteObject</url-pattern>
  </servlet-mapping>
</web-app>