<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>VoteSystem_20164206181</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hdq.serlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidataServlet</display-name>
    <servlet-name>ValidataServlet</servlet-name>
    <servlet-class>com.hdq.serlet.ValidataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidataServlet</servlet-name>
    <url-pattern>/ValidataServlet</url-pattern>
    <url-pattern>/validata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.hdq.serlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.hdq.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectListServlet</display-name>
    <servlet-name>SubjectListServlet</servlet-name>
    <servlet-class>com.hdq.serlet.SubjectListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectListServlet</servlet-name>
    <url-pattern>/SubjectListServlet</url-pattern>
    <url-pattern>/sbjlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAddServlet</display-name>
    <servlet-name>SubjectAddServlet</servlet-name>
    <servlet-class>com.hdq.serlet.SubjectAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAddServlet</servlet-name>
    <url-pattern>/SubjectAddServlet</url-pattern>
    <url-pattern>/subjectadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionListServlet</display-name>
    <servlet-name>OptionListServlet</servlet-name>
    <servlet-class>com.hdq.serlet.OptionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionListServlet</servlet-name>
    <url-pattern>/OptionListServlet</url-pattern>
    <url-pattern>/optionlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlet</display-name>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.hdq.serlet.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/DeleteSubjectServlet</url-pattern>
    <url-pattern>/deleteSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySubjectServlet</display-name>
    <servlet-name>MySubjectServlet</servlet-name>
    <servlet-class>com.hdq.serlet.MySubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySubjectServlet</servlet-name>
    <url-pattern>/MySubjectServlet</url-pattern>
    <url-pattern>/mySubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUpdateServlet</display-name>
    <servlet-name>ToUpdateServlet</servlet-name>
    <servlet-class>com.hdq.serlet.ToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateServlet</servlet-name>
    <url-pattern>/ToUpdateServlet</url-pattern>
    <url-pattern>/toUpSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectUpdataServlet</display-name>
    <servlet-name>SubjectUpdataServlet</servlet-name>
    <servlet-class>com.hdq.serlet.SubjectUpdataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectUpdataServlet</servlet-name>
    <url-pattern>/SubjectUpdataServlet</url-pattern>
    <url-pattern>/subjectupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TakeOptionServlet</display-name>
    <servlet-name>TakeOptionServlet</servlet-name>
    <servlet-class>com.hdq.serlet.TakeOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeOptionServlet</servlet-name>
    <url-pattern>/TakeOptionServlet</url-pattern>
    <url-pattern>/takeOption</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteResultServlet</display-name>
    <servlet-name>VoteResultServlet</servlet-name>
    <servlet-class>com.hdq.serlet.VoteResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteResultServlet</servlet-name>
    <url-pattern>/VoteResultServlet</url-pattern>
    <url-pattern>/voteResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SofaExitServlet</display-name>
    <servlet-name>SofaExitServlet</servlet-name>
    <servlet-class>com.hdq.serlet.SofaExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SofaExitServlet</servlet-name>
    <url-pattern>/SofaExitServlet</url-pattern>
    <url-pattern>/sofaExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.hdq.serlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
    <url-pattern>/userlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.hdq.serlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>com.hdq.serlet.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
</web-app>